<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="messageSource" class="org.sakaiproject.util.ResourceLoaderMessageSource"
		depends-on="TLABPostProcessorLoader">
		<property name="basename"
			value="classpath:za/co/davidhorwitz/stl/bundle/Messages" />
		<property name="cacheSeconds" value="10" />
	</bean>

	<!-- Control the location of the html templates (default: content/templates/) -->
	<bean id="templateResolverStrategy" parent="CRITemplateResolverStrategy">
		<property name="baseDirectory" value="content/" />
	</bean>

	<bean id="messageTemplateContributor" parent="templateContributorParent">
		<property name="baseDirectory" value="component-templates/" />
		<property name="templateNames" value="navbar" />
	</bean>


</beans>